@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.button_school {
    display      : inline-block;
    border-radius: 50%;                  /* 角丸 */
    box-shadow   : 6px 6px 3px #666666;  /* 影の設定 */
    cursor       : pointer;              /* カーソル形状 */
    transition   : .3s;                  /* なめらか変化 */
}
.button_school:hover {
    box-shadow   : none;                 /* 影の設定 */
    border-radius: 0;                    /* 角丸 */
}

.button_home{
    display      : inline-block;
    border-radius: 50%;                  /* 角丸 */
    box-shadow   : 6px 6px 3px #666666;  /* 影の設定 */
    cursor       : pointer;              /* カーソル形状 */
    transition   : .3s;                  /* なめらか変化 */
}
.button_home:hover {
    box-shadow   : none;                 /* 影の設定 */
    border-radius: 0;                    /* 角丸 */
}


/* --- 背景が上下左右に動くのBOX定義 ------------------------ */
.TITLE {
    position   : relative;
    /*max-width  : 500px;                   /* 背景の大きさに変更 */
    height     : 200px;
    margin     : auto;
    background : #ffffff;
}

/* --- 背景が上下左右に動くの背景定義 ----------------------- */
.TITLE::before {
    display    : block;
    content    : "";
    position   : absolute;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    background-image : url(../image/結果.png);  /* 使用する画像を指定 */
    animation  : bgAnime 40s linear infinite;
}
@keyframes bgAnime {
    0% { background-position: 0 0 }
                /* 使用する画像幅と画像高さのpxに変更ください */
    100% { background-position: 1920px -1080px  }
}

/* --- 前面の文字定義（サンプルのため変更してください） ----- */
.TITLE h1{
    width: 95%;
    position   : absolute;
    display    : inline-block;
    padding    : 20px;
    background : rgba(0, 127, 255, 0.7);          /* 半透明の青 */
    color      : #fff;
    top        : 50%;                               /* 中央寄せ */
    left       : 50%;
    transform  : translate(-50%,-50%);
    font-size: 50px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    margin: 0;
    line-height: 1.2;
    text-align: center;
    font-size: 50px;
}

p {
    margin: 0 0 1.6rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 40px;
}

h2 {
    margin: 0;
    line-height: 1.2;
    text-align: center;
    font-size: 50px;
}